/**
  CannedFindIt styles
*/

@import 'vars';
@import "~bootstrap/scss/bootstrap";
@import 'layout';
@import 'desktop';

body {
  background-color: $bodybg;
}

table {
  background-color: $tablebg;
  font-size: 0.8rem;
}
