/**
  CannedFindIt styles
*/

@import 'vars';
@import '~bootstrap/scss/bootstrap';
@import 'fonts';
@import 'icons';
@import 'layout';
@import 'tablet';
@import 'desktop';
@import 'date';
@import 'nav';

body {
  background-color: $bodybg;
}

table {
  background-color: $tablebg;
  font-size: 0.8rem;
}

legend {
  font-family: SigmarOne, Helvetica, serif;
  letter-spacing: 1px;
}

.btn {
  font-weight: bold;
}