/**
 Mobile first layout
*/

html {
  font-size: 40px;
}

div.nav {
  margin-bottom: 1.2rem;
}

.welcome {
  margin: 20px 0;
}

.btn {
  margin-top: 1.2rem;

  & + & {
    margin-left: 0.6rem;
  }
}

select > option {
  font-size: 0.5rem;
}

legend {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.consumed {
  margin-top: 10px;
}

.alert {
  margin-top: 1rem;
}

.list-select {
  margin-top: -2.5rem;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;

  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

.itemDetails {
  padding: 20px 0;
}

.autocomplete {
  position: relative;

  input {
    width: 100%;
  }

  .dropdown {
    background-color: $dropdownbg;
    border-radius: 0 0 2px 2px;
    box-shadow:
      0 4px 6px rgba(0, 0, 0, 0.1),
      0 8px 24px rgba(0, 0, 0, 0.1);
    padding: 5px;
    position: absolute;
    top: 35px;
    left : 1;
    margin-right: 1px;
    width: 99.8%;
    max-height: calc(100vh - 100px);
    overflow-y: auto;

    .item {
      &:hover {
        background-color: #eee;
        cursor: pointer;
      }
    }
  }
}
