/**
 Mobile first layout
*/

html {
  font-size: 40px;
}

div.nav {
  margin-bottom: 1.2rem;
}

.welcome {
  margin: 20px 0;
}

.btn {
  margin-top: 1.2rem;

  & + & {
    margin-left: 0.6rem;
  }
}

select > option {
  font-size: 0.5rem;
}

legend {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.consumed {
  margin-top: 10px;
}

.alert {
  margin-top: 1rem;
}

.list-select {
  margin-top: -2.5rem;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;

  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}
