/**
 Mobile first layout
*/

html {
  font-size: 40px;
}

div.nav {
  margin-bottom: 1.2rem;
}

.welcome {
  margin: 20px 0;
}

button.btn {
  margin-top: 1.2rem;

  & + & {
    margin-left: 0.6rem;
  }
}

legend {
  margin-bottom: 1rem;
}
