/**
  Nav styles
 */
.nav-item .navbar-brand.logo {
  color: red;
  font-size: 1.5rem;
  font-family: Bangers, Helvetica, serif;
  letter-spacing: 2px;

  &:hover {
    color: darkred;
  }

  span.material-icons {
    vertical-align: middle;
    font-size: inherit;
  }
}

.nav-item:not(:first-child) {
  margin-top: 5px;
}

.nav-link {
  color: white;
  font-family: LuckiestGuy, Helvetica, serif;
  letter-spacing: 1px;
}